/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
    font: inherit;
}
*, *:focus, *:hover{
    outline: none;
}

/* Style */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-base: 'Roboto', -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto,
        helvetica, arial, sans-serif;
    --color-highlight: #1992d4;
    --color-background: #e2e8f0;
    --color-gray: #656565;
}

html, body {
    background-color: var(--color-background);
}

body {
    font-family: var(--font-base);

    display: grid;
    grid-template-areas:
        "grid-sidebar grid-header"
        "grid-sidebar grid-content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.sidebar {
    grid-area: grid-sidebar;

    background-color: var(--color-highlight);
    padding: 10px 0;
    min-height: 100vh;

    display: grid;
    align-content: start;
}
.sidebar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 10px 100px 10px 14px;
    margin: 4px 0;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: left;
    grid-template-columns: 40px auto;
    gap: 20px;
}
.sidebar img{
    width: auto;
    height: 24px;
    justify-self: right;
}
.sidebar a:hover {
    background-color: #1782bb;
}
.sidebar .spacer {
    height: 30px;
}
.sidebar a.sidebar-title{
    font-size: 1.8rem;
}
.sidebar a.sidebar-title img{
    width: auto;
    height: 34px;
    position: relative;
    left: 5px;
}

.header {
    grid-area: grid-header;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px #cccccc;
}
.icon {
    height: 24px;
    width: auto;
}
.upper-header span {
    font-weight: bold;
    font-size: 1.1rem;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline;
}

.avatar-big {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.upper-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
}
.upper-header input {
    margin-right: 80px;
    background-color: var(--color-background);
    border: none;
    border-radius: 50px;
    padding: 4px 12px;
}
.upper-header input:focus {
    box-shadow: 3px 3px 10px #aaaaaa;
    border: 2px solid var(--color-highlight);
}
.upper-header > * {
    padding: 4px 8px;
}

.lower-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
}
.lower-header .button {
    background-color: var(--color-highlight);
    color: #ffffff;
    padding: 8px 18px;
    border: none;
    border-radius: 50px;
    min-width: 100px;
    font-weight: bold;
}
.lower-header .button:hover {
    cursor: pointer;
    background-color: #1782bb;
}
.lower-header-title, .lower-header-subtitle {
    font-weight: bold;
}
.lower-header-subtitle {
    font-size: 0.8rem;
}

.content {
    --standard-content-width: 360px;
    grid-area: grid-content;
    align-self: start;
    padding: 30px 20px;

    display: grid;
    grid-template-areas:
        "grid-projects grid-announcements";
    grid-template-rows: auto;
    grid-template-columns: minmax(var(--standard-content-width), 1fr) var(--standard-content-width);
}

.projects {
    grid-area: grid-projects;

    display: grid;
    grid-template-areas:
        "projects-title"
        "projects-cards";
    grid-template-rows: auto 1fr;
}

.projects > .projects-title {
    grid-area: projects-title;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.projects-cards {
    grid-area: projects-cards;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
}

.projects-cards > * {
    padding: 20px 20px 0 0;
}
.card {
    background-color: #ffffff;
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #bbbbbb;
    border-left: 8px solid #f0b429;
    padding: 30px 30px;

    display: grid;
    grid-template-rows: 1fr auto;
}
.card img {
    cursor: pointer;
}
.card-text-title {
    font-weight: bold;
    padding: 4px 0;
}
.card-text-description {
    color: var(--color-gray);
}

/* Final extra space */
.projects-cards > *::after {
    content: "";
    display: block;
    height: 20px;
}
.card-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.announcements {
    grid-area: grid-announcements;
}
.content-announcements, .content-trending {
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #bbbbbb;
}
.content-announcements > *, .content-trending > * {
    margin: 20px 0;
}
.content-announcement-title{
    font-weight: bold;
}
.content-announcement-subtitle{
    color: var(--color-gray);
    font-size: 0.9rem;
}

.trending {
    grid-area: grid-trending;
}
.content-trending-item {
    display: grid;
    grid-template-areas:
        "trending-avatar trending-account"
        "trending-avatar trending-description";
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}
.content-trending-item > .avatar {
    grid-area: trending-avatar;
}
.content-trending-item > span:nth-of-type(1) {
    grid-area: trending-account;
    align-self: end;
}
.content-trending-item > span:nth-of-type(2) {
    grid-area: trending-description;
    color: var(--color-gray);
    align-self: start;
}

.content-title, .projects-title {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0;
}

.miscellaneous > div:nth-of-type(2) {
    margin-top: 20px;
}